$blue: #228be6; // 주석!
$gray: #495057;
$pink: #f06595;
// 반복되는 작업이 있을 경우 mixin을 사용하면 좋다
@mixin button-color($color) {
    background: $color;
    // 버튼에 손을 올렸을 경우 &은 자기자신을 가르킴 
    &:hover {
        background: lighten($color, 10%);
    }
    // 눌렀을경우
    &:active {
        background: darken($color, 10%);
    }
    &.outline {
        color: $color;
        background: none;
        border: 1px solid $color;
        &:hover {
            background: $color;
            color: white;
        }
    }
}

.Button {
    display: inline-flex; // flexboxfroggy사이트에서 연습
    color: white; // 색상 흰색
    font-weight: bold; // 글씨 굵게 
    outline: none; // 띄어쓰기 없애기
    border: none; // 테두리없애기
    border-radius: 4px; // 둥글게   
    cursor: pointer; // 손가락
    padding-left: 1rem;
    padding-right: 1rem;
    &.large {
        height: 3rem;
        font-size: 1.25rem;
    }
    &.medium {
        height: 2.25rem;
        font-size: 1rem;
    }
    &.small {
        height: 1.75rem;
        font-size: 0.875rem;
    }
    &.blue {
        @include button-color($blue)
    }
    &.gray {
        @include button-color($gray)
    }
    &.pink {
        @include button-color($pink)
    }
    // 사이의 여백을 뜻함 버튼 사이마다의 여백
    &+& {
        margin-left: 1rem;
    }
    &.fullWidth {
        width: 100%;
        justify-content: center;
        &+& {
            margin-left: 0;
            margin-top: 1rem;
        }
    }
}